# Исключаем файлы и директории, которые не нужны в Docker-образе

# Исключаем виртуальные окружения Python
venv/
# .env/

# Исключаем файлы и директории, связанные с IDE/редакторами
.idea/
.vscode/
*.swp

# Исключаем кэш Python
__pycache__/
*.pyc
*.pyo

# Исключаем файлы и папки Git
.git/
.gitignore

# Исключаем файлы базы данных (если используется локальная SQLite)
*.sqlite3

# Исключаем файлы Docker-Compose и другие временные файлы
docker-compose.override.yml