{% extends "layout.html" %}

{% block style %}
<style>
    .container {
        display: flex;
        flex-direction: column; /* Вертикальное расположение секций */
        margin: 20px;
        text-align: center; /* Центрируем текст */
    }

    .section {
        background: #1e1e1e; /* Темный фон для секций */
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        padding: 20px;
        margin-bottom: 20px; /* Отступ между секциями */
    }

    h2 {
        margin-top: 0;
        color: #28a745; /* Зеленый цвет для заголовка */
    }

    p {
        color: #e0e0e0; /* Цвет текста */
    }

    .button {
        display: inline-block; /* Блочный элемент для кнопки */
        padding: 12px 25px; /* Внутренние отступы */
        background: #28a745; /* Зеленый фон для кнопки */
        color: white; /* Цвет текста */
        text-decoration: none; /* Убираем подчеркивание */
        border-radius: 5px; /* Закругленные углы */
        margin-top: 20px; /* Отступ сверху */
        transition: background 0.3s, transform 0.3s; /* Плавный переход для фона и трансформации */
    }

    .button:hover {
        background: #218838; /* Темный зеленый при наведении */
        transform: scale(1.05); /* Увеличение кнопки при наведении */
    }
</style>
{% endblock style %}

{% block content %}
<div class="container">
    <div class="section">
        {% if success %}
        <h2>Пароль успешно изменен!</h2>
        <p>Ваш пароль был успешно обновлен. Теперь вы можете использовать новый пароль для входа в свою учетную запись.</p>
        
        <a href="{% url 'accounts:login' %}" class="button">Войти</a>
        <p>Если у вас возникли проблемы с входом, пожалуйста, свяжитесь с нашей службой поддержки.</p>
        {% else %}
            Ошибка, не правильный token!
        {% endif %}
    </div>
</div>
{% endblock content %}