{% extends "layout.html" %}

{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'accounts/css/register.css' %}">
{% endblock style %}


{% block content %}
<div class="container">
    <div class="registration-section">
        <h2>Регистрация</h2>
        <form action="{% url 'accounts:register' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label }} <!-- Метка для поля username -->
                {{ form.username }} <!-- Поле ввода для username -->
                {{ form.username.errors }} <!-- Ошибки для поля username -->
            </div>
            <div class="form-group">
                {{ form.email.label }} <!-- Метка для поля email -->
                {{ form.email }} <!-- Поле ввода для email -->
                {{ form.email.errors }} <!-- Ошибки для поля email -->
            </div>
            <div class="form-group">
                {{ form.password.label }} <!-- Метка для поля password -->
                {{ form.password }} <!-- Поле ввода для password -->
                {{ form.password.errors }} <!-- Ошибки для поля password -->
            </div>
            <div class="form-group">
                {{ form.confirm_password.label }} <!-- Метка для поля confirm_password -->
                {{ form.confirm_password }} <!-- Поле ввода для confirm_password -->
                {{ form.confirm_password.errors }} <!-- Ошибки для поля confirm_password -->
            </div>
            <button type="submit" class="submit-button">Зарегистрироваться</button>
        </form>
        <p>Уже есть аккаунт? <a href="{% url 'accounts:login' %}">Войдите</a></p>
        <!-- Кнопка для регистрации через Google -->
        <button class="google-button">
            <img src="{% static 'links/img/google.ico' %}" alt="Google" class="google-icon"> <!-- Иконка Google -->
            Зарегистрироваться через Google
        </button>
    </div>
</div>
{% endblock content %}