{% extends "layout.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'links/css/edit-link.css' %}">
{% endblock style %}

{% block content %}
<div class="container">
    <h2>{{ title }}</h2>
    <form method="POST" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Название</label>
            {{ form.name }}
            {% if form.name.errors %}
                <div class="error">{{ form.name.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.link.id_for_label }}">Ссылка</label>
            {{ form.link }}
            {% if form.link.errors %}
                <div class="error">{{ form.link.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.description.id_for_label }}">Описание</label>
            {{ form.description }}
            {% if form.description.errors %}
                <div class="error">{{ form.description.errors }}</div>
            {% endif %}
        </div>
        <button type="submit" class="submit-button">Сохранить изменения</button>
    </form>
    <a href="{% url 'links:detail-link' link.id %}" class="cancel-button">Отмена</a>
</div>
{% endblock content %}