{% extends "layout.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'links/css/categories.css' %}">
{% endblock style %}

{% block content %}
<div class="container">
    <div class="section categories">
        <h2>Категории</h2>
        
        {% if categories %}
            <div class="category-list">
                {% for category in categories %}
                    <div class="category-item">
                        <a href="{% url 'links:links-by-category' category.id %}">
                            {% if user.is_authenticated %}
                                {% if category.image %}
                                    <img src="{{ category.image.url }}" alt="Иконка категории">
                                {% else %}
                                    <img src="media/defaults/category.png" alt="Иконка категории">
                                {% endif %}
                            {% else %}
                                {% if category.image %}
                                    <img src="media/{{ category.image }}" alt="Иконка категории">
                                {% else %}
                                    <img src="media/defaults/category.png" alt="Иконка категории">
                                {% endif %}
                            {% endif %}
                            <div class="category-info">
                                <h3>{{ category.name|slice:":10" }}{% if category.name|length > 10 %}...{% endif %}</h3>
                            </div>
                        </a>
                        <div class="dots">
                            <a href="{% url 'links:edit-category' category.id %}" class="edit-link">•••</a> <!-- Ссылка на редактирование -->
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="add-button">
                <a href="{% url 'links:add-category' %}">+</a> <!-- Кнопка для добавления новой категории -->
            </div>
        {% else %}
            <div class="add-button">
                <a href="{% url 'links:add-category' %}">+</a> <!-- Кнопка для добавления категории -->
            </div>
            <p>У вас пока нет категорий.</p>
        {% endif %}
    </div>
</div>
{% endblock content %}
