{% extends "layout.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'links/css/links-by-category.css' %}">
{% endblock style %}

{% block content %}
<div class="container">
    <div class="section">
        <h2>{{ title }}</h2> <!-- Заголовок страницы с названием категории -->

        {% if links %}
            <div class="bookmark-list">
                {% for link in links %}
                    <div class="bookmark-item">
                        <a href="{{ link.link }}" target='_blank'>
                            {% if user.is_authenticated %}
                                <img src="{{ link.favicon_image.url }}" alt="Иконка закладки">
                            {% else %}
                                <img src="{{ link.favicon_image }}" alt="Иконка закладки">
                            {% endif %}
                        </a>
                        <div class="bookmark-info">
                            <h3><a href="{{ link.link }}" target='_blank'>{{ link.name|slice:":10" }}{% if link.name|length > 10 %}...{% endif %}</a></h3>
                        </div>
                        <span class="dots"><a href='{% url "links:detail-link" link.id %}'>•••</a></span>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>В этой категории пока нет ссылок.</p> <!-- Сообщение, если нет ссылок -->
        {% endif %}

        <div class="add-button">
            <a href="{% url 'links:add-links-to-category' category.id %}">+</a> <!-- Кнопка для добавления новой ссылки -->
        </div>
    </div>
</div>
{% endblock content %}
