{% extends "layout.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'links/css/detail-link.css' %}">
{% endblock style %}

{% block content %}
<div class="container">
    <h2>Детали ссылки</h2>
    <div class="link-detail">
        <img src="{{ link.favicon_image.url }}" alt="Favicon" class="favicon">
        <h3>Название: {{ link.name }}</h3>
        <p><strong>Ссылка:</strong> <a href="{{ link.link }}" target="_blank" class='link'>
            {{ link.link|slice:":55" }}{% if link.link|length > 55 %}...{% endif %}
        </a>
            <button class="copy-button" onclick="copyLink('{{ link.link }}')"><img src="{% static 'links/img/copy.svg' %}" alt="Copy" class="link-icon"></button>
        </p>
        {% if link.description %}
            <p><strong>Описание:</strong> {{ link.description }}</p>
        {% else %}
            <p><strong>Описание:</strong> Не указано </p>
        {% endif %}
        <p><strong>Создано:</strong> {{ link.created_at }}</p>
        
        <div class="button-group">
            <a href="{% url 'links:edit-link' link.id %}" class="edit-button">Редактировать</a>
            <form action="{% url 'links:delete-link' link.id %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="delete-button"><img src="{% static 'links/img/delete.svg' %}" alt="Delete" class="delete-icon"></button>
            </form>
        </div>

        <a href="{% url 'links:my-links' %}" class="back-button">Назад к моим ссылкам</a>
    </div>
</div>

<script>
    function copyLink(link) {
        navigator.clipboard.writeText(link).then(function() {
            alert('Ссылка скопирована в буфер обмена!');
        }, function(err) {
            console.error('Ошибка при копировании: ', err);
        });
    }   

</script>

{% endblock content %}