{% extends "layout.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'links/css/my-links.css' %}">
{% endblock style %}

{% block content %}
<div class="container">
    <div class="section bookmarks">
        <h2>Мои закладки</h2>
        
        {% if links %}
            <div class="bookmark-list">
                {% for link in links %}
                    <div class="bookmark-item">
                        <a href="{{ link.link }}" target='_blank'>
                            <img src="{{ link.favicon_image.url }}" alt="Иконка закладки">
                        </a>
                        <div class="bookmark-info">
                            <h3><a href="{{ link.link }}" target='_blank'>{{ link.name|slice:":10" }}{% if link.name|length > 10 %}...{% endif %}</a></h3>
                        </div>
                        <br>
                        <span class="dots"><a href='{% url "links:detail-link" link.id %}'>•••</a></span>
                    </div>
                {% endfor %}
            </div>
            <div class="add-button"><a href="{% url 'links:add-link' %}">+</a></div>
        {% else %}
            <!-- Кнопка добавления ссылки, если нет ссылок -->
            <div class="add-link-button">
                <a href="{% url 'links:add-link' %}" class="plus-button">+</a>
            </div>
            <p>У вас пока нет сохраненных ссылок.</p>
        {% endif %}
    </div>
</div>
{% endblock content %}