{% extends "layout.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'linkvault/css/about.css' %}">
{% endblock style %}

{% block content %}
<div class="about-container">
    <div class="about-section">
        <h2 class="about-title">О проекте</h2>
        <p class="about-text">
            Хотелось сделать небольшой маштабируемый проект, с простой идеей закладок и их категоризацией. 
            А также реализовать свои навыки и знания в базе Django, так сказать набить руку и написать чистый код😀.
        </p>
        <h2 class="about-title">Обо мне</h2>
        <p class="about-text">
            Я Кадыев Султан, Python Backend Developer с опытом разработки и поддержки серверных приложений, а также работы с большими базами данных. Мне нравится писать серверную часть приложений, и я стремлюсь развиваться в этой сфере.
        </p>
        <p class="about-text">
            Я постоянно работаю над улучшением своих навыков, с интересом осваиваю новые технологии и подходы. Моя цель — получить больше коммерческого опыта в backend-разработке, укрепить уже имеющиеся знания и расширить стек технологий.
        </p>
        <h3 class="about-subtitle">Моя миссия</h3>
        <p class="about-text">
            Полностью вкладываться в проект, используя свои знания и энтузиазм. Я открыт для полной занятости с гибким графиком и возможностью удалённой работы.
        </p>
        <h3 class="about-subtitle">Мои навыки</h3>
        <ul class="about-list">
            <li><strong>Продвинутый уровень:</strong> Python, Django</li>
            <li><strong>Средний уровень:</strong> Redis, MS SQL, Celery, Backend, API, Базы данных, SQL, Английский язык</li>
            <li><strong>Базовый уровень:</strong> PostgreSQL, Git, Docker, MySQL, Nginx, REST API</li>
        </ul>
        <h3 class="about-subtitle">Опыт работы</h3>
        <ul class="about-list">
            <li>Системный администратор, МП "ЕРЦ" — Апрель 2024 – Июль 2024 (4 месяца)</li>
            <li>Web-разработчик, ЦАМУНТ — Июль 2024 – Октябрь 2024 (4 месяца) - <a href='https://camunt.kg' class="about-link" target="_blank">Официальный сайт ЦАМУНТ</a> </li>
        </ul>
        <h3 class="about-subtitle">Контакты</h3>
        <p class="about-text">
            <strong>Телефон:</strong> <a href="tel:+996779273111" class="about-link">+996 (779) 27-31-11</a><br>
            <strong>Email:</strong> <a href="mailto:kadyevsultan521@gmail.com" class="about-link">kadyevsultan521@gmail.com</a><br>
            <strong>GitHub:</strong> <a href="https://github.com/kadyevsultan" class="about-link" target="_blank">github.com/kadyevsultan</a>
        </p>
        <h3 class="about-subtitle">Образование</h3>
        <ul class="about-list">
            <li>IT-колледж, КНУ им. Жусупа Баласагына — 2023 год окончания</li>
            <li>КНУ им. Жусупа Баласагына (бакалавриат) — ожидаемый год окончания: 2028</li>
        </ul>
    </div>
</div>
{% endblock content %}
