{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'linkvault/css/styles.css' %}">
    <link rel="icon" href="{% static 'linkvault/img/favicon.ico' %}" type="image/x-icon">
    {% block style %} {% endblock style %}
</head>
<body>
    <div class='wrapper'>
        <header>
            <div class="logo">
                <a href="{% url 'links:index' %}"><h1>LinkVault</h1></a> <!-- Добавлена ссылка на главную страницу -->
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'links:my-links' %}">Мои Закладки</a></li>
                    <li><a href="{% url 'links:my-categories' %}">Категории</a></li>
                    <li><a href="{% url 'links:about' %}">О нас</a></li>
                </ul>
            </nav>
            <div class="login-icon">
                {% if user.is_authenticated %}
                    <a href="{% url 'accounts:profile' %}" class="icon-link">
                        <img src="{% static 'links/img/user.svg' %}" alt="Profile" class="logout-icon-img">
                    </a>
                    <a href="{% url 'accounts:logout' %}" class="icon-link"> <!-- Ссылка на выход -->
                        <img src="{% static 'links/img/logout.svg' %}" alt="Logout" class="logout-icon-img"> <!-- Иконка выхода -->
                    </a>
                {% else %}
                    <a href="{% url 'accounts:login' %}" class="icon-link"> <!-- Ссылка на вход -->
                        <img src="{% static 'links/img/login.svg' %}" alt="Login" class="login-icon-img"> <!-- Иконка входа -->
                    </a>
                {% endif %}
            </div>
        </header>
        <main>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% block content %} {% endblock content %}
        </main>
        <footer>
            <p>&copy; {{ actual_year }} LinkVault</p>
        </footer>
    </div>

    <script>
        // Функция для скрытия сообщений через 5 секунд
        setTimeout(function() {
            const messages = document.querySelectorAll('.messages .alert');
            messages.forEach(function(message) {
                message.style.display = 'none'; // Скрываем сообщение
            });
        }, 5000); // 5000 миллисекунд = 5 секунд
    </script>
</body>
</html>