{% extends "layout.html" %}

{% block style %}
<style>
    .container {
        display: flex;
        flex-direction: column; /* Вертикальное расположение секций */
        margin: 20px;
    }

    .section {
        background: #1e1e1e; /* Темный фон для секций */
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        padding: 20px;
        margin-bottom: 20px; /* Отступ между секциями */
        text-align: center; /* Центрируем текст */
    }

    h2 {
        margin-top: 0;
        color: #e0e0e0; /* Цвет заголовков */
    }

    .button {
        display: inline-block; /* Блочный элемент для кнопки */
        padding: 12px 25px; /* Внутренние отступы */
        background: #28a745; /* Зеленый фон для кнопки */
        color: white; /* Цвет текста кнопки */
        border: none; /* Убираем рамку */
        border-radius: 5px; /* Закругление углов кнопки */
        text-decoration: none; /* Убираем подчеркивание */
        font-size: 16px; /* Размер шрифта */
        margin-top: 20px; /* Отступ сверху */
        transition: background 0.3s, transform 0.3s; /* Плавный переход для фона и трансформации */
    }

    .button:hover {
        background: #218838; /* Темный зеленый при наведении */
        transform: scale(1.05); /* Увеличение кнопки при наведении */
    }

    .footer {
        margin-top: 20px; /* Отступ сверху */
        font-size: 12px; /* Размер шрифта для подвала */
        color: #777; /* Цвет текста подвала */
    }
</style>
{% endblock style %}

{% block content %}
<div class="container">
    <div class="section">
        <h2>Подтверждение завершено!</h2>
        <p>Ваш адрес электронной почты был успешно подтвержден. Теперь вы можете войти в свой аккаунт и начать использовать все функции LinkVault.</p>
        <a href="{% url 'accounts:login' %}" class="button">Войти в аккаунт</a>
        <div class="footer">
            <p>С уважением,<br>Команда LinkVault</p>
        </div>
    </div>
</div>
{% endblock content %}